<!DOCTYPE html>
<html>
<head>
  <title>RailsImageUpload</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="gallery-holder">
    <div class="gallery-content">
      <% flash.each do |name, msg| %>
  	    <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
          <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
        </div>
      <% end %>		
     <%= yield %>
    </div>
</div>
</body>
</html>
